@using Calcpad.web.Data.Models
@using Calcpad.web.Data.Services
@using Calcpad.web.Global
@inject SignInManager<ApplicationUser> SignInManager
@inject IOrderService OrderService
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var hasCompany =  SignInManager.UserManager.GetUserAsync(User).Result?.CompanyId != null;
    var isAdmin = User.Identity.IsAuthenticated && User.IsInRole(Constants.RoleNames.Administrator);
    var hasActiveSubscription = OrderService.GetLastByUserIdAsync(SignInManager.UserManager.GetUserId(User)).Result?.IsActive ?? false;
}
<ul class="nav nav-pills flex-column">
    @if (isAdmin)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.AdminPageNavClass(ViewContext)" id="admin-page" asp-area="Admin" asp-controller="Invoice" asp-action="Index">Admin Page</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (!hasCompany)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.RegisterCompanyNavClass(ViewContext)" id="register-company" asp-page="./RegisterCompany">Register Company</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.CompanyNavClass(ViewContext)" id="company" asp-page="./Company">Company</a></li>
    }
    @if (hasActiveSubscription)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.ManageSubscriptionNavClass(ViewContext)" id="manage-subscription" asp-page="./ManageSubscription">Manage Subscription</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.OrderHistoryNavClass(ViewContext)" id="order-history" asp-page="./OrderHistory">Order History</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
